* {
    font-size: 2rem;
    margin: 0;
}

body {
  font-family: "Microsoft YaHei", "PingFang SC", "STHeiti", "Heiti SC";
  width: 100vw;
}

.bg-color {
  background-color: #AB6A8C
}

nav {
  margin: 0;
  position: fixed;
  width: 100%;
}

nav a {
  text-decoration: none;
  display: inline-block;
  margin: 1rem;
  color: white;
}

main {
  margin: 0, 1rem, 0, 1rem;
}

main a {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.l1 {
  color: black;
}

.l2 {
  color: #AB6A8C;
}

.punctuation {
  color: black;
}

#tip {
  border: 3px solid #AB6A8C;
  padding: 10px;
  margin-top: 30px;
}

.hidden {
  display: none;
}
