* {
    font-size: 2rem;

}

a {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.non-content {
  color: grey;
  margin-right: 20px;
}


.l1 {
  color: black;
}

.l2 {
  color: grey;
}

.l3 {
  color: grey;
}

.l4 {
  color: grey;
}

.punctuation {
  color: black;
}
