body {
  background-color: black;
}


a {
  text-decoration: none;
}

.non-content {
  color: white;
  margin-right: 20px;
}


.l1 {
  color: red;
}

.l2 {
  color: yellow;
}

.l3 {
  color: #327da8;
}

.l4 {
  color: grey;
}

.cn {
  color: white;
}

.punctuation {
  color: grey;
}
