* {
    font-size: 2rem;
}

body {
  background-image: url("./mountain.png");
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: serif;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}
