* {
    font-size: 2rem;
}

body {
  background-image: url("./mountain2.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

h1 {
  font-family: serif;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}
